.cat-details-container {
    text-align: center;
    padding: 20px;
  }
  
  .cat-details-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .cat-details-loading,
  .cat-details-error {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  